@import '~compass-mixins/lib/compass/css3';

$content-color: #fdfdfd;
$content-size: 994px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
//994 - 986 = 8, 4px z kazdej strony!

.little-margin {
  margin: 5px;
  @media (min-width: $screen-lg) {
    margin: 0;
  }
}

.little-padding {
  @media (min-width: $screen-lg) {
    padding-top: 100px;
  }
}

.shadow-overlay {
  background-color: rgba(#000, 0.05);
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  @include border-radius(5px);
  @media (min-width: $screen-lg) {
    width: 994px;
  }
  .wrapper {
    @include box-shadow(0px 0px 1px 0px rgba(0, 0, 0, 0.75));
    width: 100%;
    @include border-radius(3px);
    background-color: $content-color;
  }
}

.content {
  padding: 10px;
  @media (min-width: $screen-md) {
    padding: 15px;
  }
  @media (min-width: $screen-lg) {
    padding: 20px;
  }
  .header {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    h1 {
      font-weight: 300;
      color: #2288b7;
      margin: 0;
      @media (min-width: $screen-md) {
        font-size: 3em;
      }
      @media (min-width: $screen-lg) {
        font-size: 3.75em;
      }
    }
    p {
      color: #3b3b3b;
      @media (min-width: $screen-lg) {
        font-size: 1.063em;
      }
    }
  }
  .header-hr {
    height: 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin-top: 1.5em;
  }
  .search-bar {
    margin-top: 1.2em;
    text-align: center;
    input, select, button {
      font-family: Helvetica, serif;
      margin: 5px;
      display: block;
      @media (min-width: $screen-md) {
        width: initial;
        display: initial;
      }
    }
    button {
      margin: 10px 0 0;
      @media (min-width: $screen-md) {
        margin: 5px;
      }
      width: 100%;
    }
    input {
      width: calc(100% - 22px); // input text padding + border
      border: 1px solid #cbcbcb;
      @include border-radius(5px);
      color: #999999;
      padding: 10px;
      margin: 0;
      @media (min-width: $screen-md) {
        width: 215px;
      }
      @media (min-width: $screen-lg) {
        width: 315px;
      }
      @include input-placeholder {
        color: #999999;
      }
    }

    .btn-gray {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,c5c5c5+100 */
      background: rgb(241, 241, 241); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWM1YzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(197, 197, 197, 1) 100%); /* FF3.6-15 */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(100%, rgba(197, 197, 197, 1))); /* Chrome4-9,Safari4-5 */
      background: -webkit-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(197, 197, 197, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: -o-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(197, 197, 197, 1) 100%); /* Opera 11.10-11.50 */
      background: -ms-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(197, 197, 197, 1) 100%); /* IE10 preview */
      background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(197, 197, 197, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c5c5c5', GradientType=0); /* IE6-8 */

      color: #494949;
      font-weight: bold;

    }

    .btn-blue {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#689ff3+1,2479f0+100 */
      background: rgb(104, 159, 243); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzY4OWZmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDc5ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(104, 159, 243, 1) 1%, rgba(36, 121, 240, 1) 100%); /* FF3.6-15 */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(104, 159, 243, 1)), color-stop(100%, rgba(36, 121, 240, 1))); /* Chrome4-9,Safari4-5 */
      background: -webkit-linear-gradient(top, rgba(104, 159, 243, 1) 1%, rgba(36, 121, 240, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: -o-linear-gradient(top, rgba(104, 159, 243, 1) 1%, rgba(36, 121, 240, 1) 100%); /* Opera 11.10-11.50 */
      background: -ms-linear-gradient(top, rgba(104, 159, 243, 1) 1%, rgba(36, 121, 240, 1) 100%); /* IE10 preview */
      background: linear-gradient(to bottom, rgba(104, 159, 243, 1) 1%, rgba(36, 121, 240, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#689ff3', endColorstr='#2479f0', GradientType=0); /* IE6-8 */

      color: #fdfdfd;
      font-weight: bold;
    }

    .btn {
      background-color: #e9e9e9;
      @include border-radius(5px);
      border: none;
      padding: 10px;
      @media (min-width: $screen-md) {
        width: 100px;
      }
    }

    .select-container {
      margin-top: 10px;
      @media (min-width: $screen-md) {
        margin-left: 5px;
        display: inline-block;
      }
      background-color: #eaeced;
      @include border-radius(5px);
      padding: 2px;
      select {
        padding: 3px;
        @include border-radius(5px);
        font-family: Arial, serif;
        border: 1px solid #9c9c9c;
        width: calc(100% - 10px);

        @media (min-width: $screen-lg) {
          width: 170px;
        }
      }
    }

  }

  $thead-bg-color: #ebeced;

  $table-border-color: #d4d4d4;
  $table-border-radius: 5px;

  .table-wrapper {
    overflow-x: auto;
    padding: 5px;
  }

  .table-shadow {
    margin-top: 1.2em;
    @include box-shadow(0px 0px 1px 0px rgba(0, 0, 0, 0.25));
    @include border-radius($table-border-radius);
    overflow-x: auto;
  }

  .rounded-table {
    table {
      border-collapse: separate;
      border-spacing: 0;
      tr {
        th, td {
          border-right: 1px solid $table-border-color;
          border-bottom: 1px solid $table-border-color;
        }
        th {
          border-top: solid 1px $table-border-color;
          &:first-child {
            border-left: 1px solid $table-border-color;
          }
        }
        td:first-child, th:first-child, td:first-child {
          border-left: 1px solid $table-border-color;
        }

      }
      tr:first-child th:first-child, &.Info tr:first-child td:first-child {
        @include border-top-left-radius($table-border-radius);
      }
      tr:first-child th:last-child, &.Info tr:first-child td:last-child {
        @include border-top-right-radius($table-border-radius);
      }

      tr:last-child td {
        &:first-child {
          @include border-bottom-left-radius($table-border-radius);
        }
        &:last-child {
          @include border-bottom-right-radius($table-border-radius);
        }
      }
    }
  }

  table {
    font-family: Helvetica, serif;
    width: 100%;
    thead {
      background-color: $thead-bg-color;
      margin: 10px;
      th {
        padding: 25px;
        color: #666666;
        text-align: center;
        border-right: none !important;
      }
      th:last-child {
        border-right: 1px solid $table-border-color !important;;
      }
      th:nth-child(1) {
        text-align: left;
      }
    }
    tbody {
      td {
        color: #555555;
        padding: 20px;
      }
      .pound-td {
        white-space: nowrap;
      }
      td:nth-child(1n+2) {
        text-align: center;
      }
      td:nth-child(1) {
        @media (min-width: $screen-lg) {
          width: 45%;
        }
      }
      tr:nth-child(even) {
        background-color: #f7f7f7;
      }
    }
  }

}

.pound-gray {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dadcdc+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(218, 220, 220, 1) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(218, 220, 220, 1))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(218, 220, 220, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(218, 220, 220, 1) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(218, 220, 220, 1) 100%); /* IE10 preview */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(218, 220, 220, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dadcdc', GradientType=0); /* IE6-8 */
  span {
    color: #666666;
  }
}

.pound-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63c0ea+0,4c95dc+100 */
  background: rgb(99, 192, 234); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYzBlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Yzk1ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(99, 192, 234, 1) 0%, rgba(76, 149, 220, 1) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 192, 234, 1)), color-stop(100%, rgba(76, 149, 220, 1))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(99, 192, 234, 1) 0%, rgba(76, 149, 220, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(99, 192, 234, 1) 0%, rgba(76, 149, 220, 1) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(99, 192, 234, 1) 0%, rgba(76, 149, 220, 1) 100%); /* IE10 preview */
  background: linear-gradient(to bottom, rgba(99, 192, 234, 1) 0%, rgba(76, 149, 220, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63c0ea', endColorstr='#4c95dc', GradientType=0); /* IE6-8 */
  span {
    color: #fff;
  }
}

.pound-circle {
  @include box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.75));
  @include border-radius(50%);
  border: 1px solid #7a7a7a;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-left: 8px;
  span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
}

.paginate-wrapper {
  text-align: center;
  margin-top: 20px;

  .btn-paginate {
    vertical-align: middle;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ebebeb+100 */
    background: rgb(249, 249, 249); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(235, 235, 235, 1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(100%, rgba(235, 235, 235, 1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(235, 235, 235, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(235, 235, 235, 1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(235, 235, 235, 1) 100%); /* IE10 preview */
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(235, 235, 235, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ebebeb', GradientType=0); /* IE6-8 */

    @include box-shadow(0px 0px 1px 0px rgba(0, 0, 0, 0.25));
    color: #717171;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid #bbbbbb;
    @include border-radius(3px);
    font-family: Helvetica, serif;
    font-weight: bold;

  }

  .btn-paginate:first-child, .btn-paginate:last-child {
    font-family: "fontello";
    font-size: 10px;
  }


  .active {
    color: #f2f2f2;
    background: #636363 !important;
    @include box-shadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75));
  }
}
